.title123{
	margin-top:4px;
	
	/*margin:5px 5px 5px;*/
}



.textStyle{
	font-size:2.6rem;
	display: inline;
	position:relative;
	vertical-align:middle;
}


.atext{
	margin-top:5px;
	margin-bottom:0px;
	color:white;
	font-size:1em;
}

.navLinks div {
	float: right;
} 

.navLinks div a {
	margin: 10px 0px 0px 20px;
	text-align: right;
	color: black;
	font-size: 18px;
}

